body{
background-color: black;
}
* {
    margin: 0;
    padding: 0;
}
.container {
  width: 1236px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}